

body {
    background-color:#1E2749;
    font-family: monospace, "Lucida Console", sans-serif;
    margin: 30px 80px;
}

.navigation-links a {
    display: inline;
    color: #FAFAFF;
    text-decoration: none;
}
